@using Model
@model WordSearchBox

@{
    ViewBag.Title = "Word Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<menu>
    <button id="wordListButton">get wordList</button>
    <br/>
    <button id="startSearchingButton" disabled="disabled">start searching</button>
</menu>

<div class="foundWords">
    <h3>Found Words:</h3>
</div>

<div>
    <table class="wordsearch">
        @for (var i = 0; i < Model.Letters.Length / Model.BoxWidth; i++) {
        <tr>
            @for (var j = 0; j < Model.BoxWidth; j++)
            {
                <td>
                    @Model.Letters[j + (Model.BoxWidth * i)]
                </td>
            }
        </tr>        
        }
    </table>
</div>


<script src="/Scripts/wordSearch.js"></script>
